In [1]:
import numpy as np
import pandas as pd
import hopsworks
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [2]:
# Login to Hopsworks
project = hopsworks.login()

# Retrieve Feature Store
fs = project.get_feature_store()

Connected. Call `.close()` to terminate connection gracefully.

Multiple projects found.

	 (1) quickstart_shared
	 (2) marco

Enter project to access:  2

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/397461
Connected. Call `.close()` to terminate connection gracefully.

In [95]:
# Retrieve Feature Group
port_embeddings_fg = fs.get_or_create_feature_group(
    name='port_embeddings',
    version=1,
)

# Retrieve Feature Groups
port_distance_fg = fs.get_or_create_feature_group(
    name='port_distances',
    version=1,
)

In [96]:
query = port_distance_fg.select_all().join(port_embeddings_fg.select_all(), left_on=["source_node_id"], right_on=["node_id"], prefix='origin_')

In [97]:
df = query.read(read_options={'use_hive':True})

DeprecationWarning: ssl.PROTOCOL_TLS is deprecated

Error: Reading data from Hopsworks, using Hive

DatabaseError: Execution failed on sql: WITH right_fg0 AS (SELECT *
FROM (SELECT `fg1`.`source_node_id` `source_node_id`, `fg1`.`target_node_id` `target_node_id`, `fg1`.`hop_node_ids` `hop_node_ids`, `fg1`.`costs` `costs`, `fg1`.`hops` `hops`, `fg1`.`distance_km` `distance_km`, `fg1`.`timestamp_added` `timestamp_added`, `fg1`.`source_node_id` `join_pk_source_node_id`, `fg1`.`target_node_id` `join_pk_target_node_id`, `fg1`.`timestamp_added` `join_evt_timestamp_added`, `fg0`.`node_id` `origin_node_id`, `fg0`.`embedding` `origin_embedding`, `fg0`.`timestamp_added` `origin_timestamp_added`, RANK() OVER (PARTITION BY `fg1`.`source_node_id`, `fg1`.`timestamp_added` ORDER BY `fg0`.`timestamp_added` DESC) pit_rank_hopsworks
FROM `marco_featurestore`.`port_distances_1` `fg1`
INNER JOIN `marco_featurestore`.`port_embeddings_1` `fg0` ON `fg1`.`source_node_id` = `fg0`.`node_id` AND `fg1`.`timestamp_added` >= `fg0`.`timestamp_added`) NA
WHERE `pit_rank_hopsworks` = 1) (SELECT `right_fg0`.`source_node_id` `source_node_id`, `right_fg0`.`target_node_id` `target_node_id`, `right_fg0`.`hop_node_ids` `hop_node_ids`, `right_fg0`.`costs` `costs`, `right_fg0`.`hops` `hops`, `right_fg0`.`distance_km` `distance_km`, `right_fg0`.`timestamp_added` `timestamp_added`, `right_fg0`.`origin_node_id` `origin_node_id`, `right_fg0`.`origin_embedding` `origin_embedding`, `right_fg0`.`origin_timestamp_added` `origin_timestamp_added`
FROM right_fg0)
TExecuteStatementResp(status=TStatus(statusCode=3, infoMessages=['*org.apache.hive.service.cli.HiveSQLException:Error while processing statement: FAILED: Execution Error, return code 1 from org.apache.hadoop.hive.ql.exec.tez.TezTask:28:27', 'org.apache.hive.service.cli.operation.Operation:toSQLException:Operation.java:343', 'org.apache.hive.service.cli.operation.SQLOperation:runQuery:SQLOperation.java:232', 'org.apache.hive.service.cli.operation.SQLOperation:runInternal:SQLOperation.java:269', 'org.apache.hive.service.cli.operation.Operation:run:Operation.java:255', 'org.apache.hive.service.cli.session.HiveSessionImpl:executeStatementInternal:HiveSessionImpl.java:541', 'org.apache.hive.service.cli.session.HiveSessionImpl:executeStatement:HiveSessionImpl.java:516', 'sun.reflect.GeneratedMethodAccessor238:invoke::-1', 'sun.reflect.DelegatingMethodAccessorImpl:invoke:DelegatingMethodAccessorImpl.java:43', 'java.lang.reflect.Method:invoke:Method.java:498', 'org.apache.hive.service.cli.session.HiveSessionProxy:invoke:HiveSessionProxy.java:78', 'org.apache.hive.service.cli.session.HiveSessionProxy:access$000:HiveSessionProxy.java:36', 'org.apache.hive.service.cli.session.HiveSessionProxy$1:run:HiveSessionProxy.java:63', 'java.security.AccessController:doPrivileged:AccessController.java:-2', 'javax.security.auth.Subject:doAs:Subject.java:422', 'org.apache.hadoop.security.UserGroupInformation:doAs:UserGroupInformation.java:1821', 'org.apache.hive.service.cli.session.HiveSessionProxy:invoke:HiveSessionProxy.java:59', 'com.sun.proxy.$Proxy53:executeStatement::-1', 'org.apache.hive.service.cli.CLIService:executeStatement:CLIService.java:281', 'org.apache.hive.service.cli.thrift.ThriftCLIService:ExecuteStatement:ThriftCLIService.java:712', 'org.apache.hive.service.rpc.thrift.TCLIService$Processor$ExecuteStatement:getResult:TCLIService.java:1557', 'org.apache.hive.service.rpc.thrift.TCLIService$Processor$ExecuteStatement:getResult:TCLIService.java:1542', 'org.apache.thrift.ProcessFunction:process:ProcessFunction.java:39', 'org.apache.thrift.TBaseProcessor:process:TBaseProcessor.java:39', 'org.apache.hive.service.auth.TSetIpAddressProcessor:process:TSetIpAddressProcessor.java:56', 'org.apache.thrift.server.TThreadPoolServer$WorkerProcess:run:TThreadPoolServer.java:286', 'java.util.concurrent.ThreadPoolExecutor:runWorker:ThreadPoolExecutor.java:1149', 'java.util.concurrent.ThreadPoolExecutor$Worker:run:ThreadPoolExecutor.java:624', 'java.lang.Thread:run:Thread.java:750'], sqlState='08S01', errorCode=1, errorMessage='Error while processing statement: FAILED: Execution Error, return code 1 from org.apache.hadoop.hive.ql.exec.tez.TezTask'), operationHandle=None)
unable to rollback